.home-container {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #fdf0e9, #f9fafb);
  min-height: 100vh;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
}

.hero h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #111827;
}

.hero p {
  font-size: 1rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

.action-buttons {
    
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.home-action-btn {
  width: 240px; /* 👈 fixed width to make them equal */
  padding: 0.9rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.search-btn,
.glow-always{
  padding: 0.9rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-btn,
.glow-always {
  background: #f97316;
  color: white;
}


.search-btn{
  transform: scale(1.05);
}

.glow-always {
  position: relative;
  z-index: 0;
}

/* Animated glowing background */
.glow-always::before {
  content: '';
  background: linear-gradient(
    45deg,
    #f97316,  /* orange-500 */
    #38bdf8,  /* sky-400 */
    #facc15,  /* yellow-400 */
    #a855f7,  /* purple-500 */
    #f97316   /* loop back to orange-500 */
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(6px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 12s linear infinite;
  opacity: 1;
  border-radius: 10px;
}

/* Background layer below button */
.glow-always::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
   background: #f97316;
  border-radius: 10px;
}

.glow-always:active {
  color: #000;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.typewriter-wrapper {
  font-size: 2.2rem;
  font-weight: bold;
  color: #111827;
  min-height: 3rem; /* reserve space */
}

.hero-content {
  margin-top: 1.5rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-content.fade-in {
  opacity: 1;
}

.hero-subheading {
  font-size: 1rem;
  color: #6b7280;
  margin-bottom: 1.5rem;
}
