.password-reset-container {
    background-color: white;
    margin: 20px 80px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    border-radius: 12px;
    margin: 40px 20px;
}

.password-reset-container h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.password-reset-container p {
    text-align: center;
}

.password-reset-container h3 {
    margin-top: 20px;
    margin-bottom: 10px ;
    
}

.btn-reset-password {
    color: white;
    background: #f97316;
    margin-top: 1.2rem;
    border: none;
    padding: 0.3rem;
    width: 40%;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn-cancel-password {
    margin-top: 1.2rem;
    background: #a9adb4;
    color: white;
    border: none;
    padding: 0.3rem;
    width: 20%;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

/* Mobile */
@media (max-width: 600px) {
    .password-reset-container {
        padding: 1.2rem;
        width: 95%;
        margin: 4vw auto;
    }

    .password-reset-container h1 {
        font-size: 1.2rem;
    } 

    .btn-reset-password {
        color: white;
        background: #f97316;
        margin-top: 1.2rem;
        border: none;
        padding: 0.3rem;
        width: 40%;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
    }

}

